* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #12181B;
	color: white;
	max-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hide {
	display: none;
}

.container {
	height: 100vh !important;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#header {
	text-align: center;
	margin-bottom: 20px;
}

#startGame {
	display: flex;
	justify-content: center;
	align-items: center;
}

#startGame .btn {
	margin: 10px;
}

#playerCards {
	display: flex;
	justify-content: space-between;
	padding: 3em 15em;
}

#playerCards div h3 {
	margin: 0 10px;
	padding: 5px;
	display: flex;
	align-items: center;
	border-radius: 5px;
}

#playerCards div h2 {
	margin: auto;
	display: flex;
	align-items: center;
}

.player {
	display: flex;
	align-content: center;
}

.player h3 {
	background-color: #09C372;
	/* background-color: #09858b; */
}

.bot {
	display: flex;
	align-content: center;
}

.bot h3 {
	background-color: #e7166e;
}

.playerX {
	color: #09C372;
	/* color: #09858b; */
}

.playerO {
	color: #e7166e;
}


#gameBoard {
	display: grid;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(3, auto);
}

.gridSquare {
	width: 150px;
	height: 150px;
	border: 1px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 5rem;
}

.green {
	color: #09C372;
}

.pink {
	color: #e7166e;
}

.gridSquare:first-child,
.gridSquare:nth-child(2),
.gridSquare:nth-child(3) {
	border-top: none;
}

.gridSquare:nth-child(3n + 1) {
	border-left: none;
}

.gridSquare:nth-child(3n + 3) {
	border-right: none;
}

.gridSquare:last-child,
.gridSquare:nth-child(8),
.gridSquare:nth-child(7) {
	border-bottom: none;
}

#resetSettings {
	text-align: center;
	margin-top: 4em;
}

#winner-container {
	background: rgb(0, 65, 89, .3);
	position: absolute;
	z-index: 100;
	margin: auto;
	width: 500px;
	height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
	text-align: center;
}

#restart-return{
	display: flex;
	justify-content: space-evenly;
	padding: 3em;
}
