* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	padding: 2em;
}

h1 {
	margin: auto;
}

h3 {
	margin: 15px auto;
}

button {
	padding: .5em;
	margin: 0 .5em !important;
}

#grid {
	display: grid;
	width: 800px;
	height: 650px;
	max-height: 100%;
	margin: 2em auto;
	border: 1px solid;
	overflow: hidden;
}

#grid > div {
	height: 2.5em;
	align-items: center;
}

#settings {
	margin: 1em auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media only screen and (max-width: 800px) {
	#grid {
		width: 500px;
		height: 500px;
	}
}

@media only screen and (max-width: 500px) {
	body {
		padding: 2.5em;
	}

	.btn {
		font-size: 10px !important;
	}

	#grid {
		width: 250px;
		height: 500px;
	}
}

@media only screen and (max-width: 375px) {
	
	body {
		padding: 2em;
	}

	h3 {
		font-size: 18px !important;
	}

	#grid {
		width: 200px;
		height: 500px;
	}
}

